<?php echo $header; ?>
<?php echo $column_left; ?>

<div id="content">
  	<div class="page-header">
    	<div class="container-fluid">
			<h1>Plugin instalado com sucesso!</h1>
			<p>Acesse a área de vendas e veja os detalhes de envio dos pedido!</p>
		</div> 
	</div> 
</div> 

<?php echo $footer; ?>