
body {
	font-family: 'Arial', 'Helvetiva', sans-serif;
}

.topbar,
.mfp-wrap,
.menu-top,
.header.box-search,
#content .buttons,
footer.footer,
#powered,
#whatsapp,
.breadcrumb {
	display: none;
}

#cupom .panel .panel-body img {
	float: left;
}

.panel {
	margin-bottom: 40px;
}

.panel .panel-heading {
	border-bottom: 1px solid #000;
	font-weight: bold;
	font-size: 25px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	width: 100%;
}

.order_items .items .item {
	border-bottom: 1px solid #000;
}

.order_items .items .item .image {
	float: left;
	margin-right: 15px;
}