.fadeModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0, 0, 0, .6);
}

.liv-alert {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 50px 100px 35px 100px;
  background-color: #fff;
  z-index: 99999;

  @media (max-width: 480px) {
    padding: 50px 65px 35px 65px;
  }

  button.close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  img {
    display: block;
    margin: 0 auto;
    padding: 20px 0 80px;
  }

  h3 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    &.spacing {
      letter-spacing: 5px;
    }
  }

  a {
    border: 1px solid #000;
    display: block;
    margin-top: 5px;
    position: relative;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;

    &.black {
      background-color: #000;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }

    &.white {
      background-color: #94c92c;
      color: #000;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}