.apresentation-image {
    position: relative;
    top: 0;
    left: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 9px);
    display: block;

    @media (max-width: 992px) {
        height: calc(100vh - 10px);
    }
}