@import (reference) "_elements.less";

/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	overflow-y: scroll;
	/* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%;
	/* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%;
	/* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
	/* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box;
	/* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing: border-box;
	/* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active,
input:focus,
textarea:focus {
	outline: 0;
}

a img {
	border: 0;
}

img,
video {
	max-width: 100%;
	vertical-align: top;
}

audio,
canvas,
video {
	display: inline;
	zoom: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}


/*--------------------------------------------
Combo CSS
----------------------------------------------*/

.clr {
	.clearfix;
}

.tran {
	.transition();
}


/*--------------------------------------------
Initial
----------------------------------------------*/

//placeholder
::-webkit-input-placeholder {
	-webkit-font-smoothing: antialiased;
}

:-moz-placeholder {
	/* Firefox 18- */
	-moz-osx-font-smoothing: grayscale;
}

::-moz-placeholder {
	/* Firefox 19+ */
	-moz-osx-font-smoothing: grayscale;
}

//links
a {
	cursor: pointer;
	text-decoration: none;
	.transition--ex;
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

[class*="col"] {
	margin-bottom: 15px;
	@media @md {
		margin-bottom: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 15px;
}

.scrollup,
.kuler-accordion .item-title.selected,
#header .checkout a,
.kuler-showcase-module .tab-heading span:after,
.kuler-filter .ui-widget-header,
.article__read-more .read-more,
.dropdown-menu .live-search-load-more:hover,
#tabs a.selected,
#top-bar .checkout .view:hover,
#top-bar .checkout .check:hover,
.product-tabs .nav-tabs>li.active>a,
.product-tabs .nav>li>a:hover,
.product-tabs .nav>li>a:focus,
.pagination .links a:hover,
.pagination .links b {
	background-color: #000;
}


.cart-product-total-number {
	background-color: #fff;
	color: #000;
}

.alert.alert-success,
a.articles__read-more,
a:visited.articles__read-more,
.kuler-showcase-module .tab-heading span.active,
.kuler-showcase-module .tab-heading span:hover {
	color: #000;
}

#container {
	background-color: #fff;
}

a,
a:visited,
.mainmenu > li a,
#top-bar a {
	color: #25282C;
}

a:hover,
a:active {
	color: #000;
}

.details .cart:hover,
.details .quick-view a:hover:before,
.details .cart a:hover:before,
.details .compare a:hover:before,
.details .wishlist a:hover:before {
	background-color: #000;
}

body {
	font-family: Helvetica;
	color: #25282C;

	position: relative;
    top: 44px;

	@media (max-width: 991px) {
		top: 48px;
	}
}

.kuler-tabs,
.kuler-slides,
#header .checkout a,
.cart-total + .buttons a,
.ui-widget {
	font-family: Helvetica;
}

h1,
h2,
h3,
h4,
h5,
h6,
.box-heading {
	font-family: Helvetica;
}

p {
	margin-bottom: 10px;
}

.header {}

.footer,
.social-newsletter {
	background-color: #fff;
}

.social-newsletter .container,
.footer {}

.footer,
.social-newsletter {
	color: #888888;
}

.footer h3,
.footer .box-heading {
	color: #1F1F1F;
}

.footer h3:after,
.footer h3:after {
	background-color: #25282C;
}

.footer a {
	color: #000;
}

.footer a:hover {
	color: #000;
}

.footer .contact li:hover {
	color: #000;
}

.social a:hover:before,
.newsletter button:hover {
	background-color: #000;
}

#powered {
	background-color: #4a4a4a;
}

#powered {
	color: #fff;

	.ssl {
		cursor: pointer;
	}
}

#powered a {
	color: #fff;
}

#powered a:hover {
	color: #fff;
}

.social-icons__item:before {
	color: #1F1F1F;
}

.social-icons__item:hover:before {
	color: #000;
}

.navigation--mega {}

.main-nav__item a:hover {
	color: #000;
}

#menu,
#megamenu {
	font-family: Helvetica;
}

@media (min-width: 992px) {
	.main-nav__item a {
		color: #25292C;
	}
}

@media only screen and (min-width: 992px) {
	.main-nav__item > a:before {
		background: #25292C;
	}
}

.product-price {
	color: #A5A5A5;
}

.product-price--new,
.product-price--newcolor {
	color: #f91212;
}

.product-price--old {
	color: #aaa;
}

.product-name {
	a {
		color: #1f1f1f;
	}
}

.product-sale {
	background-color: #fff;
	color: #000;
}

.countdown-amount {
	background-color: #222;
}

.countdown-period {
	color: #222;
}

.countdown-amount {
	color: #fff;
}

.product-detail-button--quick-view {
	background-color: #ffffff;
}

.product-detail-button--quick-view i {
	color: #25282c;
}

.product-detail-button--quick-view:hover {
	background-color: #000;
	border: 1px solid #000;
}

.product-detail-button--quick-view:hover i {
	color: #ffffff;
}

.control-label {
	margin-bottom: 5px;
	padding-top: 0;
	&::before {
		color: inherit !important;
	}
}

.form-control {
	border-color: #736f6f;

	&:focus {
		border-color: #000;
		box-shadow: inherit;
		-webkit-box-shadow: inherit;
	}
}

.well {
	background-color: #fff;
}

.panel-default>.panel-heading {
	background-color: #fff;
}

.breadcrumb {
	padding: 8px 0px;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
	margin-left: 6px;
}

input {
	border-radius: 0!important;
	// -webkit-appearance: none!important;
}
