.btn,
.button,
button {
	&:focus,
	&:active {
		outline: none;
	}
}

button {
	display: inline-block;
	text-transform: uppercase;
	font-size: 16px;
	border: none;
	padding: 10px 15px;
}

.btn {
	&.btn-primary {
		background-color: #000;
		border: 1px solid #000;
		color: #fff;
		border-radius: 0;
		&:active, &:focus {
			background-color: #000;
			border: 1px solid #000;
			color: #fff;
			outline: none;
		}
		&:hover {
			background-color: #fff;
			color: #000;
		}
	}

	&.btn-danger {
		background-color: #fff;
		color: #000;
		border-color: #000;
		-webkit-border-radius: 0!important;
		border-radius: 0!important;
		-moz-border-radius: 0!important;

		&:hover {
			background-color: #000;
			color: #fff;
			border-color: #000;
		}
	}

	&.btn-default {
		background-color: #fff;
		color: #000;
		border-color: #000;
		-webkit-border-radius: 0;
		border-radius: 0;
		-moz-border-radius: 0;

		&:hover {
			background-color: #000;
			color: #fff;
			border-color: #000;
		}
	}
}

.button {
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 15px;
	background-color: #000;
	border: 1px solid #000;
	color: #fff;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	&:active, &:focus {
		background-color: #000;
		border: 1px solid #000;
		color: #fff;
		outline: none;
	}
	&:hover {
		background-color: #fff;
		color: #000;
	}
}

#popup-login-form {
	.button {
		width: 100%;
	}
}