@import (reference) "_elements";

/*--------------------------------------------------------------
Module Carousel
--------------------------------------------------------------*/

.carousel {
	margin: 40px auto;
	.owl-item .text-center {
		text-align: center;
	}
}

.owl-carousel {
	overflow: hidden;
	&.owl-theme {
		.owl-controls {
			margin: 0;
		}
	}
}


/***************768px****************/

@media @sm {}


/***************1024px****************/

@media @md {}


/***************1200px****************/

@media @lg {}