#cart {
	background-color: inherit;
	button {
		background: none;
		border-radius: 0;
	}
	.btn {
		float: right;
		width: auto;
		font-size: 16px;
		top: -4px;
		position: relative;
	}

	tr {
		&:first-child {
			td {
				border-top: none;
			}
		}
	}

	.table-products {
		.col-img {
			@media (max-width: 411px) {
				display: none;
			}
		}
	}
}

a {
	&.mini-cart {
		&__view-cart {
			background-color: #fff;
			border: 1px solid #222;
			color: #222;
			margin: 0 5px;
			&:hover {
				background-color: #222;
				color: #fff;
			}
			@media (min-width: 992px) and (max-width: 1199px) {
				margin-bottom: 10px;
			}

			@media (max-width: 479px) {
				margin-bottom: 10px;
			}
		}
		&__checkout {
			background-color: #000;
			border: 1px solid #000;
			color: #fff;
			margin: 0 5px;
			&:hover {
				background-color: #fff;
				border: 1px solid #000;
				color: #000;
			}
		}
	}
}

.checkout-cart {
	.buttons {
		&.cart-button-top {
			margin-bottom: 63px;

			.pull-left {
				p {
					color: #868686;
					margin-top: 5px;
					text-transform: uppercase;
					text-align: center;

					&:hover {
						color: #000;
					}
				}
			}
		}

		&.cart-button-bottom {
			@media (max-width: 479px) {
				text-align: center;
			}

			.pull-left {
				@media (max-width: 479px) {
					float: none!important;
					margin-bottom: 15px;
				}
			}

			.pull-right {
				@media (max-width: 479px) {
					float: none!important;
				}
			}

			.btn {
				&.btn-primary-finalizar-compra {
					background-color: #94c92c;
					border: 1px solid #000;
					border-radius: 0;
					color: #000;

					&:hover {
						background-color: #fff;
					}
				}
			}
		}
	}

	p {
		margin-bottom: 10px;
	}

	.panel-group{
		margin-bottom: 0;

		.accordion-toggle {
			display: block;
			width: 100%;
			margin-bottom: 0;

			i {
				float: right;
			}
		}
	}

	.input-lg {
		&-2x {
			height: 60px;
		}
		height: 40px;
		width: 100%;
		line-height: 2.4;
	}

	#input-coupon {
		height: 40px;
	}

	::-webkit-input-placeholder {
		text-align: center;
	}

	:-moz-placeholder { /* Firefox 18- */
		text-align: center;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		text-align: center;
	}

	:-ms-input-placeholder {
		text-align: center;
	}
}

body[class^='checkout-checkout'] {
	#chat-application {
		@media (max-width: 640px) {
			bottom: 66px!important;
		}
	}
}

.checkout-checkout {
	#login {
		color: #000;

		&:hover {
			text-decoration: underline;
		}
	}

	.buttons {
		&.checkout-buttons {
			margin-top: 30px;

			.pull-right:nth-child(1) {
				.button {
					@media (max-width: 640px) {
						position: relative;
						right: 0;
						bottom: 0px;
						left: 0;
						height: 44px;
						z-index: 999;
						width: 100%;
						border-radius: 0;
					}
				}
			}

			.pull-right:nth-child(2) {
				margin-top: 6px;
				margin-right: 10px;

				p {
					color: #868686;
					margin-top: 5px;
					text-transform: uppercase;
					text-align: center;

					&:hover {
						color: #000;
					}
				}
			}
		}
	}

	#voucher-container {
		margin-top: 5px;
		margin-bottom: 5px;

		input[type="button"] {
			margin-top: -2px;
		}
	}

	#coupon-container {
		margin-top: 5px;
		margin-bottom: 5px;

		input[type="button"] {
			margin-top: -2px;
		}
	}

	textarea[name="comment"] {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.shipping-method {
		h2 {
			font-size: 20px;

			@media (min-width: 992px) and (max-width: 1200px) {
				font-size: 18px;
			}
		}
	}

	.payment-method {
		h2 {
			font-size: 20px;

			@media (min-width: 992px) and (max-width: 1200px) {
				font-size: 18px;
			}
		}
	}

	.order-total {
		h2 {
			font-size: 20px;
			margin-top: 20px!important;

			@media (min-width: 992px) and (max-width: 1200px) {
				font-size: 18px;
			}

			@media (max-width: 991px) {
				margin-top: 0!important;
			}
		}
	}
}

#cart-table {
	.subtotal {
		display: none;
	}

	@media (max-width: 39.9375em) {
		.content-center {
			text-align: center !important;
		}

		.quantity-value {
			width: 100% !important;
		}

		.subtotal {
			display: block !important;
			font-size: 12px;
			margin-bottom: 5px;
			text-transform: uppercase;
		}
	}

	@media (max-width: 640px) {
		.align-group-btn {
			b {
				margin-top: 22px;
			}
		}
	}

	.quantity-value {
		text-align: center;
		@media (max-width: 1199px) {
			width: 50px;
		}
	}

	.btn-primary {
		margin-right: 6px;
	}

	table {
		border-collapse: separate;
		border-spacing: 0 2em;
		border-bottom: 1px dotted #e1e1e1;
	}
	.table-title {
		color: #4A4A4A;
		font-size: 1.333em;
		font-weight: 300;
	}
	.product-title {
		font-size: 1.5em;
	}
	.reference-title {
		font-size: 1.166em;
		color: #9B9B9B;
	}
	.product-remove {
		color: #4A4A4A;
		font-size: 0.833em;
		font-weight: 300;
		border-bottom: 1px solid rgba(74, 74, 74, 0.6);
	}
	.product-price--black {
		color: #000;
		font-size: 1.166em;
	}
	.img-thumbnail {
		max-width: 75%;
	}
	.mt-10 {
		display: inline-block;
		margin-top: 20px;
	}

  thead:first-child>tr:first-child>td {
    background-color: inherit;
    border-bottom: 1px dotted #e1e1e1;
	}

  tbody>tr>td {
		&:nth-child(2) {
			vertical-align: initial;
		}
    border-right: 1px dotted #e1e1e1;
		border-bottom: none;
    display: table-cell;
    vertical-align: middle;

    &:last-child {
      border-right: none;
    }
  }

  .table-resume {
    border-collapse: separate;
    border-spacing: 1px 0;
    tbody > tr {
      &:last-child td {
        border-top: 1px dotted #000;
        border-bottom: 1px dotted #e1e1e1;
        font-weight: bold;
      }
      &:first-child td {
        border-top: 0;
      }
      > td {
        vertical-align: middle;
        strong {
          border-right: 1px dotted #e1e1e1;
          padding: 10px 20px 10px 0;
          display: block;
          font-size: 1.333em;
        }
      }
    }
    .product-price--black {
      color: #000;
      font-size: 1.166em;
    }
	}
}
