@import (reference) "_elements";

/*--------------------------------------------------------------
Categories
--------------------------------------------------------------*/

.categories-filter {
	padding: 15px;
	text-transform: uppercase;
	[class*="col-"] {
		vertical-align: middle;
	}
	
	label, a {
		font-size: 10px;
	}
	
	label {
		margin-top: 7px;
	}
}

.refine-search {
	h3 {
		text-transform: uppercase;
		font-size: 20px;
		text-align: center;
	}
	a {
		padding: 5px 15px;
		display: inline-block;
	}
}


/***************768px****************/

@media @sm {}


/***************1024px****************/

@media @md {}


/***************1200px****************/

@media @lg {}


/***************skin****************/

.categories-filter {
	background-color: #fff;
}

.refine-search {
	a {
		background-color: @color3;
		color: #ffffff;
	}
}