@import (reference) "_elements";

/*--------------------------------------------
Box category
----------------------------------------------*/

.box-category {
	a {
		display: block;
	}
	> li {
		position: relative;
		padding: 6px 0;
		text-transform: uppercase;
		ul {
			display: none;
			width: 100%;
		}
		> .toggle {
			display: inline-block;
			width: 15px;
			height: 15px;
			cursor: pointer;
			position: absolute;
			right: 15px;
			top: 6px;
			&:before {
				content: "+";
				display: inline-block;
				font-size: 24px;
				font-weight: 700;
				line-height: 1;
			}
		}
	}
	> li.active {
		ul {
			display: block;
		}
		a {
			position: relative;
			color: #000;
			font-weight: bold;
			&:before {
				left: -55px;
			}
		}
		> .toggle {
			&:before {
				content: "-";
			}
		}
	}
}

.box-category__sub {
	margin-left: 15px;
}

//768px
@media @sm {}

//1024px
@media @md {}

//1200px
@media @lg {}