@import (reference) "_elements";

/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/

body {
	letter-spacing: 1px;
}

.row,
[class*='col-'] {
	letter-spacing: normal;
}

//generate padding bottom for custom class
.generate-padding-bottom(100);
.generate-padding-bottom(@n, @i: 5) when (@i =< @n) {
	.custom-padding-bottom-@{i} {
		padding-bottom: (@i * 1px) !important;
	}
	.generate-padding-bottom(@n, (@i + 5));
}

//generate padding top for custom class
.generate-padding-top(100);
.generate-padding-top(@n, @i: 5) when (@i =< @n) {
	.custom-padding-top-@{i} {
		padding-top: (@i * 1px) !important;
	}
	.generate-padding-top(@n, (@i + 5));
}

//generate margin top for custom class
.generate-margin-top(100);
.generate-margin-top(@n, @i: 5) when (@i =< @n) {
	.custom-margin-top-@{i} {
		margin-top: (@i * 1px) !important;
	}
	.generate-margin-top(@n, (@i + 5));
}

//generate margin bottom for custom class
.generate-margin-bottom(100);
.generate-margin-bottom(@n, @i: 5) when (@i =< @n) {
	.custom-margin-bottom-@{i} {
		margin-bottom: (@i * 1px) !important;
	}
	.generate-margin-bottom(@n, (@i + 5));
}

a,
a:focus,
a:hover {
	outline: none;
	text-decoration: none;
}

.btn {
	.transition--ex;
	text-transform: uppercase;
	&[value] {
		font-weight: 300;
	}
}

.dropdown {
	cursor: pointer;
}

.box {
	padding: 20px 0;
	@media @md {
		padding: 35px 0;
	}
}

.box-heading {
	font-size: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
}

.sub-box-heading {
	text-align: center;
	.merriweather;
	font-size: 12px;
}

.kl-main-content {
	position: relative;
	z-index: 1;
	body[class*='product'] & {
		z-index: auto;
	}
	.container {
		padding-bottom: 60px;
		h2 {
			margin-top: 15px;
			&:first-child {
				margin-top: 0px;
			}
		}
	}

	.title-icon {
		margin-right: 15px;
	}

	.order_items {
		margin-bottom: 50px;

		h3 {
			border-bottom: 1px solid black;
			font-size: 15px;
			padding-bottom: 5px;
			text-transform: uppercase;
		}

		.items {
			.item {
				border-bottom: 1px solid rgba(0,0,0,.1);
				display: flex;
				margin-top: 13px;
				padding-bottom: 13px;
				width: 100%;

				.image {
					display: inline-block;;
					height: 40px;
					margin-right: 12px;
					width: 40px;

					img {
						height: 100%;
						object-fit: cover;
						width: 100%;
					}
				}

				.text {
					display: inline-block;
					padding-top: 3px;
					width: calc(100% - 49px);

					p {
						margin: 0;
					}
				}
			}
		}
	}
}

.col-no-padding {
	padding-left: 0;
	padding-right: 0;
}

.btn-lg,
.dropdown-menu,
.well,
.list-group-item:first-child,
.list-group-item:last-child,
.breadcrumb,
.form-control,
.form-control,
.panel-heading,
.panel-group .panel,
.alert {
	.rounded(0);
}

.btn,
.button {
	font-size: 12px;
}

.btn-primary {
	border: none;
}

.btn-primary:hover {
	color: #ffffff;
	background: #25292C;
}

.list-10 li {
	padding-bottom: 10px;
}

.dropdown-menu {
	border: none;
	top: 120%;
	display: block;
	visibility: hidden;
	opacity: 0;
	.transition--ex;
}

.open>.dropdown-menu {
	visibility: visible;
	opacity: 1;
	top: 100%;
}

#list-view,
#grid-view {
	color: #25282C;

	&:hover {
		color: #fff;
	}
}


/******************Login*********************/

//login popup
#login-popup {
	margin: auto;
	max-width: 400px;
	background: #fff;
	padding: 30px 15px;
	font-size: 0;
	position: relative;
	top: -4px;

	.title {
		text-transform: uppercase;
	}

	input {
		border-radius: 0;
		-webkit-appearance: none;
	}

	.left {
		p {
			margin-bottom: 10px;
		}
	}
	.right {
		p {
			margin-bottom: 10px;
		}
		input {
			width: 100%;
		}
		input[type='submit'] {
			width: auto;
		}
	}

	.register {
		color: #000;
		text-decoration: underline;
		font-weight: 500;

		&:hover {
			text-decoration: underline;
		}

		&--uppercase {
			text-transform: uppercase;
		}
		&--opacity {
			opacity: 0.7;
		}
	}
}

.account-login {
	.well {
		p {
			margin-bottom: 10px;
		}
	}
}

.account-register {
	.form-horizontal {
		div.button {
			.clearfix;
		}
	}
	#content {
		padding-bottom: 30px;
	}
}

.information-sitemap {
	#content {
		padding-bottom: 30px;
	}
}

.checkout-cart {
	#content {
		padding-bottom: 30px;
	}
	.form-control {
		height: 31px;
	}
	.input-group {
		.btn-primary {
			border: 1px solid #000;
		}

		.btn-danger {
			color: red;
			border: none;
			margin-left: 1px;
			&:hover {
				background-color: #fff;
				color: red;
			}
		}
	}
	.img-thumbnail {
		border: none;
	}
}

.breadcrumb {
	>li+li:before {}
	text-transform: uppercase;
}

#content {
	position: relative;

	h2 {
		text-transform: uppercase;
	}
}

.form-horizontal .form-group {
	font-size: 0;
}

legend {
	font-size: 18px;
	padding: 7px 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}

div.required .control-label:before {
	content: '* ';
	color: #000;
	font-weight: bold;
}

.alert {
	position: fixed;
	top: 0;
	z-index: 998;
	right: 0;
	width: 100%;
	padding: 15px;
	z-index: 999999;
}

/***************owl-controls****************/

.owl-controls {
	.owl-page span {
		background: #ffffff;
		border: 1px solid #222222;
		opacity: 1;
	}
	.owl-page.active span {
		background: #222222;
	}
}


/***************social icons****************/

.social-icons {
	li {
		display: inline-block;
		margin-right: -2px;
	}
	&__item {
		font-family: FontAwesome;
		&:before {
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			display: inline-block;
			font-size: 17px;
			.transition--ex;
		}
		&.facebook:before {
			content: '\f09a';
		}
		&.twitter:before {
			content: '\f099';
		}
		&.whatsapp:before {
			content: '\f232';
		}
		&.youtube:before {
			content: '\f16a';
		}
		&.rss:before {
			content: '\f09e';
		}
		&.pinterest:before {
			content: '\f0d2';
		}
		&.instagram:before {
			content: '\f16d';
		}
	}
}


/***************Animation****************/

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.breadcrumb {
		font-size: 15px;
}

/***************768px****************/

@media @sm {}


/***************1024px****************/

@media @md {}


/***************1200px****************/

@media @lg {
	.breadcrumb {
		margin: 0 -100% 30px;
		width: 300%;
		padding: 10px 100%;
	}
}