.discount-bar {
	text-align: center;
	background-color: #000;
	
	p {
		color: #fff;
		font-size: 12px;
		padding: 10px;
		margin-bottom: 0;
		
		span {
			color: #ee6780;
			text-transform: uppercase;
		}
	}
}