.field {
	margin-bottom: 15px;
	position: relative;
	text-align: center;

	a {
		&.forgot-password {
			padding-top: 5px;
		}
	}

	.fld {
		appearance: none;
		-webkit-appearance: none;
		border: 1px solid #dadada;
		border-radius: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		font-size: 15px;
		font-weight: 300;
		height: 50px;
		outline: none;
		padding: 15px 0px 3px 0px;
		width: 100%;
		background-color: inherit;
		text-align: center;

		&.fld-primary {
			color: #727a7d;

			&:focus {
				border-color: #727a7d;
				color: #465055;
			}

			&:valid {
				&~ label {
					font-size: 12px;
					color: #7b7b7b;
					top: 15px;
					transform-origin: top left;
					-ms-transform-origin: top left;
					-webkit-transform-origin: top left;
					transform: translate3d(0px, -12px, 0);
					-ms-transform: translate3d(0px, -12px, 0);
					-webkit-transform: translate3d(0px, -12px, 0);
				}
			}

			&~ label {
				display: block;
				color: #000000;
				top: 15px;
				font-size: 15px;
				font-weight: 300;
				margin-bottom: 0;
				pointer-events: none;
				position: absolute;
				text-transform: lowercase;
				transition: 0.2s ease all;
				width: 100%;
				opacity: 0.7;
				left: 0;
			}

			&.fld-icon {
				margin-left: 22px;
    			width: ~'calc(100% - 22px)';

				&:focus {
					&~ i {
						color: #465055;
					}
				}

				&~ label {
					margin-left: 22px;
				}

				&~ i {
					color: #465055;
					position: absolute;
					left: 0;
					top: 22px;

					&.error {
						color: rgba(244, 64, 52, 0.7);
					}
				}
			}
		}

		&.fld-active {
			&:focus {
				&~ label {
					color: #333;
				}
			}

			&~ label {
				font-size: 12px;
				color: #7b7b7b;
				top: 15px;
				transform-origin: top left;
				-ms-transform-origin: top left;
				-webkit-transform-origin: top left;
				transform: translate3d(0px, -12px, 0);
				-ms-transform: translate3d(0px, -12px, 0);
				-webkit-transform: translate3d(0px, -12px, 0);
			}
		}
	}
}