@import (reference) "_elements";

/*--------------------------------------------------------------
Footer Block
--------------------------------------------------------------*/

.footer {
	background-color: #E8E8E8;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid transparent;
	padding: 30px 0;
	@media @md {
		padding: 30px 0;
	}
	.container {
		padding-bottom: 0;
	}
	.box-heading {
		display: inline-block;
		font-size: @font-normal + 1;
		margin-bottom: 30px;
		padding: 10px 0;
		border-bottom: 1px solid;
	}
	&__information {
		&-text {
			color: #1F1F1F;
		}
	}
	li {
		a {
			font-size: 11px;
			text-transform: uppercase;
		}
	}
}


/***************payment****************/

.payment {
	text-align: center;
	@media @md {
		text-align: right;
	}
	font-size: @font-small + 1;
	&__item {
		display: inline-block;
	}
}


/***************contact****************/

.contact {
	&__list {
		margin: 25px 0;
	}
}


/***************footer address****************/

.footer__address {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 5000px;
		height: 1px;
		top: 0;
		right: -50%;
	}
	.have-contact-form & {
		padding: 50px 0;
	}
}


/***************powered****************/

#powered {
	padding: 30px 0 0 0;

	.container {
		&:first-child {
			@media (max-width: 993px) {
				padding-bottom: 30px;
			}
		}
	}

	p {
		margin-bottom: 0;

		&.security-1 {
			margin-left: 70px;
			margin-top: 9px;
		}

		&.security-2 {
			margin-left: 70px;
		}

		&.payments {
			margin-top: 6px;
			margin-bottom: 2px;
		}
	}

	img {
		&.image-logo {
			float: left;
		}
	}
}


/***************768px****************/

@media @sm {}


/***************1024px****************/

@media @md {}


/***************1200px****************/

@media @lg {}


/***************skin****************/

#whatsapp {
    bottom: 20px;
    position: fixed;
    right: 26px;
    z-index: 9999;

    img {
        height: 50px;
        width: 50px;
    }
}

.footer {
	.list-unstyled {
		span {
			font-size: 11px;
			text-transform: uppercase;
			color: #000;
		}
	}
}


.footer {
	.footer-contact {
		margin: 0 auto;
		padding-bottom: 0;
		margin-top: 10px;
		padding-left: 30px;
		padding-right: 30px;
		
		@media (max-width: 768px) {
			margin-top: 0;
		}

		.box-heading {
			margin: 30px 0 0 0;
			border-bottom: none;
		}
	
		.social-icons {
			margin-top: 0;
		}
	}
}

.newsletter-footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #F4F4F4;

	.form-group {
		display: inline-block;
	}

	input[type=email] {
		text-align: center;
		padding: 7px;
		color: #000;
		text-transform: uppercase;
		font-size: 13px;
		width: 300px;
		border: none;
	}

	span {
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: 10px;
	}
}
