@import (reference) "_elements";

/*--------------------------------------------------------------
Header Block
--------------------------------------------------------------*/


.header.box-search {
	height: 69px;
	background-color: #fff;
	position: fixed;
	top: 71px;
	z-index: 9999;
	width: 100%;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
	-moz-box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
	-webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    transition: all .15s ease-out;
	opacity: 0.95;

	@media (min-width: 993px) {
		top: 44px;
		background-color: inherit;
		height: 54px;
	}
}



@media (min-width: 993px) {
	.topbar {
		.header {
			display: block;
			width: 240px;
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			right: 140px;
			position: absolute;
    		top: -22px;
		}
	}
}



.header {
	display: none;
	padding: 15px 0 0;
	position: relative;
	border-bottom: 1px solid transparent;
	[class*="col-"] {
		vertical-align: middle;
	}

	@media (min-width: 993px) {
		padding: 15px 0 15px;
	}

	@media @sm-max {
		&__top {
			.social-icons__list {
				text-align: center;
			}
			.mini-cart {
				.btn {
					float: none !important;
					margin-left: calc(~'50% - 35px');
					background: #ffffff;
				}
			}
		}
	}
}

#logo {
	text-align: center;
	
	.logo-ancora {
		transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		
		@media (max-width: 991px) {
			display: none;
		}
	}
	
	.logo-written {
		transition: all 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
		-webkit-transition: all 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	}
	
	a:hover {
		.logo-ancora {
			transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
		}
		
		.logo-written {
			-webkit-transform: scale(1);
		}
	}
}


/***************search****************/

.topbar {
	.live-search-container {
		.open {
			input {
				top: -11px!important;
			}
		}
	}
}

.live-search-container {
	position: absolute;
	display: inline-block;
	top: 41px;
	input {
		width: 0;

		@media (min-width: 992px) {
			border: none;
			font-size: 12px;

			&::placeholder {
				color: #ddd;
			}
		}
	}
	.open {
		input {
			position: absolute;
			top: -13px;
			left: 0;
			width: 255px;
			padding: 10px 20px;

			@media (min-width: 992px) {
				border: 1px solid #ddd;
				&::placeholder {
					color: #fff;
				}
			}
		}
	}
	.product-list {
		.product-name {
			font-size: 12px;
		}
	}
	#search-inner {
		position: static;
		&.open {
			&:before {
				// display: none;
				top: -1px;
			}
		}
	}
}

#search-inner {
	&:before {
		.pe-icon-7-stroke;
		content: "\e618";
	}
}

.search-mobile {
	.live-search-container {
		position: static;
		input {
			width: 100%;
			padding: 10px 39px 10px 13px;
			border: 1px solid #DDDDDD;

			@media (min-width: 992px) {
				border: none;
				background: inherit;
				border-bottom: 1px solid #DDDDDD;
				color: #fff;
			}
		}
	}
	#search-inner {
		position: relative;
		margin: 0 auto;
		&:before {
			position: absolute;
			display: inline-block;
			top: calc(~'50% - 10px');
			right: 15px;
			font-size: 20px;

			@media (min-width: 992px) {
				color: #fff;
			}
		}
	}
}

/***************cart****************/

#cart {
	.btn {
		color: #202020 !important;
		&:hover {
			background: none;
		}
	}
	.cart__icon {
		font-size: @font-normal*3;
	}
}

.mini-cart {
	.dropdown-menu {
		padding: 15px;
	}
	p {
		font-size: 12px;
		text-align: center;
		text-transform: uppercase;
	}
	&__view-cart,
	&__checkout {
		padding: 8px 15px;
		display: inline-block;
		text-transform: uppercase;
		font-size: 13px;
	}
	&__no-product {
		width: 100%;
	}
}

#ac-gn-bag-small {
	.cart-product-total-number {
		top: 6px;
		left: 12px;
		position: absolute;
		z-index: 2;
	}
}

.cart-product-total-number {
	font-size: 10px;
    position: absolute;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 17px;
    top: 7px;
    font-weight: 300;
    left: -11px;
	text-align: center;
}


/***************768px****************/

@media @sm {
	.mini-cart {
		.dropdown-toggle {
			background: none;
		}
		button .fa-shopping-cart:before {
			font-size: 15px;
		}
	}
}


/***************1024px****************/

@media @md {
	.header__top {
		margin-bottom: 26px;
	}
}


/***************1200px****************/

@media @lg {
	.mini-cart {
		.dropdown-toggle {
			background: none;
		}
		.dropdown-menu {
			width: 400px;
			left: auto;
		}
		button .fa-shopping-cart:before {
			font-size: 15px;
		}
	}
}


/***************skin****************/

.header {
	background-color: #FFFFFF;
	border-color: #EEEEEE;
}