#carousel-principal, #carousel-principal-mobile {
    position: relative;
    top: 86px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 70px;

    @media (max-width: 991px) {
        top: 23px;
        margin-bottom: 0;
    }

    .owl-dots {
        position: relative;
        top: -30px;

        @media (max-width: 991px) {
            top: -25px;
        }

        .owl-dot {
            span {
                background: transparent;
                border: 1px solid #fff;
            }

            &.active {
                span {
                    background: #D8D8D8!important;
                    border: 1px solid #fff;
                }
            }
        }
    }
}

.banner-principal-desktop {
    display: block;

    @media (max-width: 480px) {
        display: none;
    }
}

.banner-principal-mobile {
    display: none;

    @media (max-width: 480px) {
        display: block;
    }
}

.mini-banners {
    position: relative;
    left: -75px;
    width: calc(~"100% + 150px");

    @media (max-width: 1200px) {
        left: -149px;
        width: calc(~"100% + 299px");
    }

    @media (max-width: 992px) {
        left: -206px;
        width: calc(~"100% + 412px");
    }

    @media (max-width: 769px) {
        left: -94px;
        width: calc(~"100% + 189px");
    }

    @media (max-width: 450px) {
        left: -77px;
        width: calc(~"100% + 154px");
    }

    @media (max-width: 380px) {
        left: -58px;
        width: calc(~"100% + 116px");
    }

    @media (max-width: 360px) {
        left: -50px;
        width: calc(~"100% + 100px");
    }

    @media (max-width: 350px) {
        left: -30px;
        width: calc(~"100% + 60px");
    }

    .row {
        margin: 0;
        padding: 0;

        img {
            width: 100%;
        }

        .mini-banner-left {
            position: relative;
        }

        .mini-banner-right {
            position: relative;
        }
    }
}

#modal-first-day-look {
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
    top: 50px;

    .modal-header {
        border: none;
        padding: 0;
    }

    .modal-body {
        padding: 0;
    }

    .modal-content {
        background: transparent;
    }

    .close {
        opacity: .6;
        filter: alpha(opacity=60);
        top: 6px;
        position: absolute;
        z-index: 9999;
        right: 10px;
    }

    form {
        position: absolute;
        z-index: 9999999;
        bottom: 10%;
        text-align: center;
        width: 50%;
        margin-left: 25%;

        input {
            width: 100%;
            letter-spacing: 2px;
        }

        .inpt-text {
            text-align: center;
            padding: 10px;
            color: #000;
            text-transform: uppercase;
            font-size: 13px;
        }
    }
}
