.icon-payments {
	background-image: url("/image/catalog/config/payments/sprite-payments-security.png");
	background-size: 100px 86px;
	display: inline-block;
	margin-top: 2px;
	&.icon-payments-blindado {
		width: 73px;
		height: 16px;
		background-position: 0px -49px;
	}
	&.icon-payments-comodo {
		width: 31px;
		height: 18px;
		background-position: -69px -65px;
	}
	&.icon-payments-visa {
		width: 27px;
		height: 16px;
		background-position: 0px 0px;
	}
	&.icon-payments-mastercard {
		width: 27px;
		height: 16px;
		background-position: -27px 0px;
	}
	&.icon-payments-amex {
		width: 27px;
		height: 16px;
		background-position: -27px -32px;
	}
	&.icon-payments-diners {
		width: 27px;
		height: 16px;
		background-position: -54px 0px;
	}
	&.icon-payments-hipercard {
		width: 27px;
		height: 16px;
		background-position: 0px -16px;
	}
	&.icon-payments-elo {
		width: 27px;
		height: 16px;
		background-position: -27px -16px;
	}
	&.icon-payments-hiper {
		width: 27px;
		height: 16px;
		background-position: -54px -16px;
	}
	&.icon-payments-boleto {
		width: 27px;
		height: 16px;
		background-position: 0px -32px;
	}
}
