.page-info {
	color: rgb(34, 34, 34);
	font-size: 14px;
	text-align: justify;
	-webkit-column-count: 2;
	-webkit-column-gap: 50px;
	
	@media (max-width: 768px) {
		-webkit-column-count: 1;
	}
	
	h2 {
		font-size: 15px;
	}
}

.page-info-footer {
	margin: 30px;
	text-align: center;

	a {
		color: #ef708a;
	}
}