.menu-toogle {
	display: none;

	@media (max-width:991px) {
		&:checked,
		&:target {
			&~.menu-top {
				height: 100%;
				-webkit-transition: background .35s linear, height .35s ease-in, min-height .35s ease-in;
				transition: background .35s linear, height .35s ease-in, min-height .35s ease-in;
				background: #000;
				
				.menu-content {
					.menu-itens {
						visibility: visible;
						-webkit-transition-delay: 0s;
						transition-delay: 0s;

						&:after {
							display: none;
						}

						li {
							-webkit-transform: none;
							transform: none;
							pointer-events: auto;
							opacity: 1;

							&:nth-child(2) {
								-webkit-transition-delay: 0s, 0s;
								transition-delay: 0s, 0s;
							}

							&:nth-child(3) {
								-webkit-transition-delay: .1s, .1s;
								transition-delay: .1s, .1s;
							}

							&:nth-child(4) {
								-webkit-transition-delay: .2s, .2s;
								transition-delay: .2s, .2s;
							}

							&:nth-child(5) {
								-webkit-transition-delay: .3s, .3s;
								transition-delay: .3s, .3s;
							}

							&:nth-child(6) {
								-webkit-transition-delay: .4s, .4s;
								transition-delay: .4s, .4s;
							}

							&:nth-child(7) {
								-webkit-transition-delay: .5s, .5s;
								transition-delay: .5s, .5s;
							}

							&:nth-child(8) {
								-webkit-transition-delay: .6s, .6s;
								transition-delay: .6s, .6s;
							}

							&:nth-child(9) {
								-webkit-transition-delay: .7s, .7s;
								transition-delay: .7s, .7s;
							}

							&:nth-child(10) {
								-webkit-transition-delay: .8s, .8s;
								transition-delay: .8s, .8s;
							}

							&:nth-child(11) {
								-webkit-transition-delay: .9s, .9s;
								transition-delay: .9s, .9s;
							}
						}
					}
				}
				
				.menu-icon-label {
					-webkit-transform: rotate(90deg);
					transform: rotate(90deg);
				}
				
				.menu-icon-bread {
					&.menu-icon-bread-top {
						-webkit-transition: -webkit-transform .25s .2s cubic-bezier(.4, .01, .165, .99);
						transition: transform .25s .2s cubic-bezier(.4, .01, .165, .99);
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
					}

					&.menu-icon-bread-bottom {
						-webkit-transition: -webkit-transform .25s .2s cubic-bezier(.4, .01, .165, .99);
						transition: transform .25s .2s cubic-bezier(.4, .01, .165, .99);
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}
				}

				.menu-icon-bread-crust {
					&.menu-icon-bread-crust-top {
						-webkit-transition-delay: 0;
						transition-delay: 0;
						-webkit-transform: translateY(0);
						transform: translateY(0);
					}

					&.menu-icon-bread-crust-bottom {
						-webkit-transition: -webkit-transform .2s;
						transition: transform .2s;
						-webkit-transform: translateY(0);
						transform: translateY(0);
					}
				}

			}
		}
	}
}


.menu-top {
	font-weight: 300;
	text-align: left;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	right: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	letter-spacing: normal;
	font-size: 18px;
	position: fixed;
	z-index: 9;
	top: 0;
	height: 71px;
	max-height: 44px;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background: #323232;
	background: rgba(0, 0, 0, .8);
	
	@media (max-width: 991px) {
		max-height: none;
		-webkit-transition: background .35s linear .25s, height .35s ease-in .25s, min-height .35s ease-in .25s;
		transition: background .35s linear .25s, height .35s ease-in .25s, min-height .35s ease-in .25s;
	}
	
	@media (min-width: 992px) {
		top: 40px;
		height: 90px;
		max-height: 90px;
		background: #fff;
		border-bottom: 1px solid #eee;
	}
	
	ul {
		list-style: none;
	}
	
	.menu-content {
		position: relative;
		z-index: 2;
		max-width: 1350px;
		margin: 0 auto;
		padding: 0 21px 0 22px;
		
		@media (max-width: 991px) {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			padding: 0;
		}
		
		.menu-header {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			width: 100%;
			height: 71px;
			
			@media (min-width: 992px) {
				height: 90px;
			}
			
			li {
				position: relative;
				z-index: 1;
				display: inline-block;
				height: 44px;
				vertical-align: top;
				display: none;
				
				@media (max-width: 991px) {
					display: block;
				}
				
				&.icon-ancora {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 50%;
					width: 48px;
					margin-left: -24px;
					text-align: center;
					@media (max-width: 991px) {
						top: 13px;
					}
				}
				
				&.icon-account {
					position: absolute;
					z-index: 1;
					top: 1px;
					right: 80px;
					width: auto;
					display: block;
					
					@media (max-width: 991px) {
						top: 13px;
					}
					@media (min-width: 992px) {
						display: none;
					}
				}
				
				&.icon-favorite {
					position: absolute;
					z-index: 1;
					top: 1px;
					right: 48px;
					width: auto;
					display: block;
					
					@media (max-width: 991px) {
						top: 13px;
					}
					@media (min-width: 992px) {
						display: none;
				}
				}
				
				&.icon-search {
					position: absolute;
					z-index: 1;
					top: 1px;
					left: 65px;
					width: auto;
					display: block;
					
					@media (max-width: 991px) {
						top: 13px;
						left: 52px;
					}

					@media (min-width: 992px) {
						display: none;
				}
				}

				&.icon-bag {
					position: absolute;
					z-index: 1;
					top: 1px;
					right: 15px;
					width: auto;
					display: block;
					
					@media (max-width: 991px) {
						top: 13px;
					}
				}

				&.menu-icon {
					position: absolute;
					z-index: 2;
					top: 0;
					left: 0;
					display: none;
					width: 48px;
					border-bottom: none;
					
					@media (max-width: 991px) {
						display: block;
						top: 12px;
					}
				}
				
				a {
					text-transform: uppercase;
					font-size: 16px;
					font-weight: 300;
					line-height: 2.75;
					position: relative;
					z-index: 1;
					display: inline-block;
					height: 44px;
					padding: 0 10px;
					-webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
					transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
					white-space: nowrap;
					text-decoration: none;
					letter-spacing: normal;
					opacity: 1;
					color: #fff;
					outline-offset: -7px;
					-webkit-tap-highlight-color: transparent;
					cursor: pointer;
					
					&.ac-gn-link-ancora {
						background-repeat: no-repeat;
						background-size: 30px 30px;
						// background-image: url(/image/catalog/config/logo-livstyle-white.png);
						background-image: url(/image/catalog/config/logo-livstyle-white.svg);
						background-position: center center;
						width: 30px;
						@media (max-width: 991px) {
							width: 44px;
							background-size: 44px 44px;
						}
					}
				}
			}
		}
		
		.menu-itens {
			width: auto;
			height: 44px;
			margin: 0 0;
			cursor: default;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			text-align: justify;
			display: flex;
    		justify-content: space-between;

			@media (min-width: 992px) {
				height: 90px;

				.ac-gn-bag-mobile {
					.cart-product-total-number {
						display: none;
					}
				}
			}

			@media (max-width: 991px) {
				position: absolute;
				display: block;
				z-index: 2;
				top: 48px;
				right: 0;
				bottom: 0;
				left: 0;
				visibility: hidden;
				overflow: hidden;
				overflow-y: auto;
				box-sizing: border-box;
				height: auto;
				margin: 0;
				padding: 0 48px;
				-webkit-transition: height .35s linear, visibility 0s linear 1s;
				transition: height .35s linear, visibility 0s linear 1s;
				-webkit-overflow-scrolling: touch;

				&:nth-child(2) {
					margin-top: 23px;
				}

				&:nth-child(9) {
					margin-bottom: 48px;
				}
			}
			
			li {
				position: relative;
				z-index: 1;
				display: inline-block;
				height: 44px;
				vertical-align: top;

				@media (max-width:991px) {
					width: 100%;
					height: 48px;
					-webkit-transition: opacity .35s ease-out, -webkit-transform .35s ease-out;
					transition: opacity .35s ease-out, transform .35s ease-out;
					-webkit-transform: scale(1.1) translateY(-24px);
					-ms-transform: scale(1.1) translateY(-24px);
					transform: scale(1.1) translateY(-24px);
					pointer-events: none;
					opacity: 0;
					border-bottom: 1px solid #333;

					&:nth-child(2) {
						-webkit-transition-delay: .9s, .9s;
						transition-delay: .9s, .9s;
					}

					&:nth-child(3) {
						-webkit-transition-delay: .8s, .8s;
						transition-delay: .8s, .8s;
					}

					&:nth-child(4) {
						-webkit-transition-delay: .7s, .7s;
						transition-delay: .7s, .7s;
					}

					&:nth-child(5) {
						-webkit-transition-delay: .6s, .6s;
						transition-delay: .6s, .6s;
					}

					&:nth-child(6) {
						-webkit-transition-delay: .5s, .5s;
						transition-delay: .5s, .5s;
					}

					&:nth-child(7) {
						-webkit-transition-delay: .4s, .4s;
						transition-delay: .4s, .4s;
					}

					&:nth-child(8) {
						-webkit-transition-delay: .3s, .3s;
						transition-delay: .3s, .3s;
					}

					&:nth-child(9) {
						-webkit-transition-delay: .2s, .2s;
						transition-delay: .2s, .2s;
					}

					&:nth-child(10) {
						-webkit-transition-delay: .1s, .1s;
						transition-delay: .1s, .1s;
					}

					&:nth-child(11) {
						-webkit-transition-delay: .0s, .0s;
						transition-delay: .0s, .0s;
					}
				}
				
				&.icon-ancora,
				&.ac-gn-bag {
					display: block;
					
					@media (max-width:991px) {
						display: none;
					}
				}
				
				a {
					text-transform: uppercase;
					font-size: 11px;
					font-weight: 300;
					line-height: 3.9;
					position: relative;
					z-index: 1;
					display: inline-block;
					height: 44px;
					padding: 0 10px;
					-webkit-transition: opacity .2s cubic-bezier(.645, .045, .355, 1);
					transition: opacity .2s cubic-bezier(.645, .045, .355, 1);
					white-space: nowrap;
					text-decoration: none;
					letter-spacing: normal;
					opacity: 1;
					color: #fff;
					outline-offset: -7px;
					background: no-repeat;
					-webkit-tap-highlight-color: transparent;
					display: block;
					width: auto;
					padding: 0;
					background-position: left center;
					cursor: pointer;

					@media (max-width: 991px) {
						font-size: 20px;
						font-weight: 200;
						line-height: 2.35;
						letter-spacing: normal;
						height: 48px;
					}
					
					@media (min-width: 992px) {
						height: 90px;
						line-height: 7;
						color: #000;
						font-size: 13px;
						font-weight: 400;
					}
					
					&.ac-gn-link-ancora {
						background-repeat: no-repeat;
						background-size: 60px 60px;
						// background-image: url(/image/catalog/config/logo-livstyle-black.png);
						background-image: url(/image/catalog/config/logo-livstyle-black.svg);
						background-position: center center;
						width: 60px;
					}
				}
			}
		}

		.cart {
			display: none;
			position: absolute;
			z-index: 99;
			top: 44px;
			right: 0;
			font-size: 15px;
			font-weight: 300;
			line-height: 1.23333;
			letter-spacing: normal;
			background: #fff;
			border: 1px solid #d6d6d6;
			border-top: 0;
			border-radius: 0 0 2px 2px;
			
			@media (max-width: 411px) {
				border-radius: 0;
				border-width: 0 0 1px 0;
				left: 0;
				width: 100%;
			}
			
			@media (max-width: 991px) {
				top: 71px;
			}
			
			@media (min-width: 992px) {
				top: 0;
				right: 17px;
			}

			.cart-content-content {
				position: relative;
				z-index: 2;
				min-height: 90px;
				margin: 0 auto;
    			padding: 5px 10px 6px 10px;
				max-width: 412px;
				
				.cart-content-message {
					line-height: 90px;
					margin: 0;
					text-align: center;
					color: #999;
				}
			}
		}
		
		.cart-content-caret {
			display: none;
			position: absolute;
			z-index: 1;
			bottom: -3px;
			left: 0;
			overflow: hidden;
			width: 100%;
			height: 10px;
			
			&:after {
				position: absolute;
				z-index: 1;
				top: 0;
				left: 50%;
				display: block;
				width: 12px;
				height: 12px;
				content: '';
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				-webkit-transform-origin: 0 0;
				-ms-transform-origin: 0 0;
				transform-origin: 0 0;
				border: 1px solid #fff;
				background-color: #fff;
			}
			
			@media (max-width: 991px) {
				bottom: -15px;
			}

			@media (min-width: 992px) {
				top: -1px;
				left: -40px;
				width: 16px;
			}
		}
	}
}











&.menu-icon {
	.menu-icon-label {
		position: absolute;
		z-index: 3;
		top: 0;
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		-webkit-transition: opacity .2s cubic-bezier(.645, .045, .355, 1), -webkit-transform .4s cubic-bezier(.4, .01, .165, .99);
		transition: opacity .2s cubic-bezier(.645, .045, .355, 1), transform .4s cubic-bezier(.4, .01, .165, .99);
		-webkit-tap-highlight-color: transparent;
		
		&:active,
		&:focus,
		&:hover {
			opacity: .65;
		}
	}

	
	.menu-icon-bread {
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		width: 48px;
		height: 48px;
		-webkit-transition: opacity .2s cubic-bezier(.645, .045, .355, 1);
		transition: opacity .2s cubic-bezier(.645, .045, .355, 1);

		&.menu-icon-bread-top {
			z-index: 4;
			-webkit-transition: -webkit-transform .25s cubic-bezier(.4, .01, .165, .99);
			transition: transform .25s cubic-bezier(.4, .01, .165, .99);
			-webkit-transform: rotate(0);
			-ms-transform: rotate(0);
			transform: rotate(0);
			
		}

		&.menu-icon-bread-bottom {
			-webkit-transition: -webkit-transform .25s cubic-bezier(.4, .01, .165, .99);
			transition: transform .25s cubic-bezier(.4, .01, .165, .99);
			-webkit-transform: rotate(0);
			-ms-transform: rotate(0);
			transform: rotate(0);
		}
	}
	
	.menu-icon-bread-crust {
		position: absolute;
		z-index: 1;
		left: 16px;
		display: block;
		width: 17px;
		height: 1px;
		-webkit-transition: -webkit-transform .2s;
		transition: transform .2s;
		background: #fff;

		&.menu-icon-bread-crust-top {
			top: 23px;
			-webkit-transition: -webkit-transform .2s .2s;
			transition: transform .2s .2s;
			-webkit-transform: translateY(-3px);
			-ms-transform: translateY(-3px);
			transform: translateY(-3px);
		}

		&.menu-icon-bread-crust-bottom {
			bottom: 23px;
			-webkit-transform: translateY(3px);
			-ms-transform: translateY(3px);
			transform: translateY(3px);
		}
	}
	

	.ac-gn-menuanchor {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		
		&:focus {
			width: 48px;
			height: 48px;
			outline-offset: -8px;
		}
	}
}

.menu-top {
	@media (max-width:991px) {
		.ac-gn-link-bag {
			padding: 0 16px;
			-webkit-transition: -webkit-transform .25s .55s ease-out;
			transition: transform .25s .55s ease-out;
		}
	}
	
	.ac-gn-link-bag {
		background-repeat: no-repeat;
		background-position: center center;
	}

	.ac-gn-link-search {
		width: 20px;
		background-image: url(/image/catalog/config/cart-livstyle-white.svg);
		background-size: 20px 44px
	}
	
	.ac-gn-link-bag {
		width: 18px;
		background-image: url(/image/catalog/config/cart-livstyle-white.svg);
		background-size: 18px 44px;
	}

	.ac-gn-link-account {
		width: 18px;
		background-image: url(/image/catalog/config/icon-account-livstyle.svg);
		background-size: 20px 44px;
	}

	.ac-gn-link-favorite {
		width: 18px;
		background-image: url(/image/catalog/config/icon-favorite-livstyle-white.svg);
		background-size: 20px 44px;
	}

	.ac-gn-link-search {
		width: 18px;
		background-image: url(/image/catalog/config/icon-search-livstyle.svg);
		background-size: 20px 38px;
	}
}


.show {
	display: block!important;
}

.hide {
	display: none!important;
}

.menu-top {
	.icon-bag {
		@media (min-width: 992px) {
			.ac-gn-link-bag,
			.cart-product-total-number {
				display: none!important;
}
		}
	}
}
