#modal-agree {
	.modal-body {
		padding: 15px;
	}

	.modal-dialog {
		max-width: 1200px;
		width: ~'calc(100% - 20px)';
		margin: 55px auto;
	}

	p {
		font-size: 14px;
		font-weight: 300;
		font-family: arial;
	}
}

#modal-popup {
	.modal-content {
		background: transparent;
	}

	.close {
		opacity: .6;
		filter: alpha(opacity=60);
		top: 6px;
		position: absolute;
		z-index: 9999;
		right: 10px;
	}

	.modal-body {
		padding: 0;
	}

	.modal-dialog {
		max-width: 1200px;
		width: ~'calc(100% - 20px)';
		margin: 55px auto;
	}

	p {
		font-size: 14px;
		font-weight: 300;
		font-family: arial;
	}

	@media (min-width: 480px) {
		.popup-mobile {
			display: none;
		}
	}
	@media(max-width: 479px) {
		.popup-desktop {
			display: none;
		}
	}
}
