@import (reference) "_elements";

/*--------------------------------------------------------------
Kuler Filter
--------------------------------------------------------------*/


/***************768px****************/

@media @sm {}


/***************1024px****************/

@media @md {
	.kuler-filter {
		margin-bottom: 50px;
		p {
			margin: 20px 0;
		}
		select {
			width: 100%;
			border: none;
			background: #F9F9F9;
			padding: 10px 15px;
		}
		.price-slide {
			border: none;
		}
		.ui-slider-range,
		.ui-slider-horizontal {
			height: 8px;
		}
		.ui-corner-all {
			.rounded(0);
			border: none;
		}
		.ui-slider-handle {
			top: -0.2em;
			background: #212121;
			width: 16px;
			height: 16px;
			.rounded(50%);
		}
		.buttons {
			.clearfix;
			margin-top: 30px;
		}
		.right {
			.clearfix;
			float: right;
		}
	}
}


/***************1200px****************/

@media @lg {}


/***************skin****************/