@import (reference) "_elements";

/*--------------------------------------------------------------
Kuler Showcase Module
--------------------------------------------------------------*/

.showcase {
	.container {
		padding-bottom: 0;
	}
}

.kuler-showcase-module {
	.box {
		padding: 0;
		margin-top: 20px;
	}
	.box-heading {
		span {
			text-transform: uppercase;
			margin: 0 20px;
			font-size: 18px;
			cursor: pointer;
			display: inline-block;
		}
	}
	.tab-heading {
		text-align: center;
		padding-bottom: 30px;
		span {
			color: #4A4A4A;
			font-size: 21px;
    		font-weight: bold;
			position: relative;
			margin: 0 15px;
			padding: 10px 0;
			cursor: pointer;
			text-transform: uppercase;
			letter-spacing: 2px;
			&:hover {
				&:after {
					width: 100%;
				}
			}
		}
		span.active {
			&:after {
				width: 100%;
			}
		}
	}
	.box {
		position: relative;
	}
	.nav {
		position: static;
		span {
			position: absolute;
			top: calc(~'50% - 36px');
			left: -50px;
			z-index: 999;
			font-size: 0;
			cursor: pointer;
			&:before {
				display: inline-block;
				.transition--ex;
				.pe-icon-7-stroke;
				width: 36px;
				height: 36px;
				border: 2px solid #DDDDDD;
				.rounded(50%);
				line-height: 33px;
				font-size: 30px;
				text-align: center;
			}
		}
		.prev {
			&:before {
				content: "\e686";
			}
		}
		.next {
			left: auto;
			right: -50px;
			&:before {
				content: "\e684";
			}
		}
	}
}


/***************768px****************/

@media @sm {}


/***************1024px****************/

@media @md {}


/***************1200px****************/

@media @lg {}