@import (reference) "_elements";

/*--------------------------------------------------------------
Kuler Slider Module
--------------------------------------------------------------*/

.kls-container {
	.tp-bullets.simplebullets.round-old .bullet {
		width: 12px;
		height: 12px;
		background: none;
		border: 2px solid #ffffff;
		margin: 0 3px;
		.rounded(50%);
		&.selected {
			background: #ffffff;
		}
	}
}


/***************768px****************/

@media @sm {}


/***************1024px****************/

@media @md {}


/***************1200px****************/

@media @lg {}


/***************skin****************/