.alert {
	top: 44px;
	font-style: normal;
    font-size: 13px;
    font-weight: 300;
	color: #000!important;
	
	@media (max-width: 991px) {
		top: 71px;
	}

	@media (min-width: 992px) {
		top: 130px;
	}
	
	a {
		text-decoration: underline;
		text-transform: lowercase;
		color: #000!important;
	}
}