.pagination {
	.active {
		span {
			background-color: #ee6780;
			border-color: #ee6780;
			
			&:hover {
				background-color: #ee6780;
				border-color: #ee6780;
			}
		}
	}
	
	li {
		a {
			color: #ee6780;
			
			&:hover,
			&:focus {
				color: #ee6780;
			}
		}
	}
}