@import (reference) "_elements";

/*--------------------------------------------------------------
Products
--------------------------------------------------------------*/

hr.product-options {
	border: 0.5px dashed #dadada;
}

#product {
	.form-group {
		.control-label {
			text-transform: capitalize;
			font-size: 15px;
		}

		.text-danger {
			margin-top: 10px;
			text-transform: uppercase;
		}
	}
}

#product-related {
	.product {
		&-sale {
			@media (min-width: 480px) and (max-width: 767px) {
				right: 10px;
			}
			@media (max-width: 479px) {
				right: 10px;
			}
			@media (min-width: 768px) and (max-width: 991px) {
				right: 10px;
			}
		}
	}
}

.product {
	&-layout {
		position: relative;
		margin-bottom: 30px;
		text-align: center;
	}
	&-thumb {
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;
	}
	&-name {
		color: #4A4A4A;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: normal;
		line-height: 1.6;
	}
	&-rating {
		font-size: 8px;
		margin-bottom: 10px;
		a {
			vertical-align: middle;
			padding-left: 10px;
			font-size: 18px;
		}
	}
	&-sale {
		position: absolute;
		right: 10px;
		top: 10px;
		border-radius: 100%;
		width: 48px;
		height: 48px;
		line-height: 48px;
		text-align: center;
		.transition--ex;
		@media (min-width: 480px) and (max-width: 767px) {
			right: 100px;
		}
		@media (max-width: 479px) {
			right: 20px;
		}
		@media (min-width: 768px) and (max-width: 991px) {
			right: 20px;
		}
	}
	&-price {
		margin-bottom: 5px;
		font-size: 15px;
		letter-spacing: 1px;
		&--old {
			padding-left: 10px;
			text-decoration: line-through;
		}
		~.installments {
			color: #000;
			font-weight: bold;
			font-size: 15px;
		}
	}
}

.quick-view {
	outline: none;
}

.product {
	&-detail {
		&__group-buttons {
			font-size: 0;
			>button {
				margin-right: 3px;
      }
		}
		&-button {
			border: 1px solid #fff;
			width: 36px;
			height: 36px;
			padding: 0;
			.transition;
			span {
				font-size: 15px;
				letter-spacing: 1px;
			}
			i {
				font-size: 22px;
				vertical-align: middle;
			}
			&--cart {
				width: auto;
				padding: 0 20px;
				i {
					display: none;
				}
			}
			&--quick-view {
				position: absolute;
				top: calc(~'50% - 18px');
				left: calc(~'50% - 18px');
				.scale(0);
			}
		}
	}
}

.product,
.product-grid {
	.left {
		float: left;
	}
	.right {
		float: right;
	}
}

.thumbnails {
	&__big-image {
		position: relative;
		margin-bottom: 20px;
		&.loading:before {
			content: '';
			.absolute-center;
			background: rgba(255, 255, 255, .5) url("../image/loading.svg") center center no-repeat;
			background-size: 50%;
		}
	}
	&__list-image {
		@media @lg {
			width: 50%;
			margin: 0 22%;
		}
	}
}

.product-options,
.custom-block {
	margin-bottom: 20px;
}


.product-options {
	.in-stock {
		text-transform: uppercase;
		font-size: 20px;
		color: #000;
	}

	.out-stock {
		text-transform: uppercase;
		font-size: 20px;
		color: #ec5656;
	}
}


body[class^='product-product-'] {
	#chat-application {
		@media (max-width: 640px) {
			bottom: 66px!important;
		}
	}
}

/**--product info--**/

.product-info {
	margin-bottom: 20px;

	@media (max-width: 767px) {
		text-align: center;
	}

	h1 {
		margin-bottom: 3px !important;
		font-size: 25px;
		font-weight: 400;
		text-transform: uppercase;
		color: #4A4A4A;
	}
	h3 {
		margin: 20px 0 10px 0;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
	}
	.model {
		text-transform: uppercase;
		font-weight: 100;
		color: #9B9B9B;
		font-size: 14px;
	}
	.custom-block,
	.product-options {
		color: #858585;
	}
	.product-detail-button {
		margin-bottom: 20px;
	}
	.product-detail__group-buttons > button {
		margin-right: 0;
	}
	.product-sale {
		display: none;
	}
	.product-price {
		color: #000;
		font-size: 18px;
		font-weight: 100;

		.product-price--new,
		.product-price--newcolor {
			color: #f91212;
		}

		.product-price--old {
			color: #000;
			font-size: 18px;
			padding-left: 0;
			font-weight: 100;
		}
		.installs {
			font-weight: bold;
		}
	}
	.dynamic-number {
		background: #F9F9F9;
		border: none;
		padding: 10px 7px;
		text-align: center;
	}
	.quantity {
		&-form {
			display: inline-block;
			padding: 8px 10px;
			border: 1px solid #222222;
			.rounded(18px);
			input {
				margin: 0 20px;
				border: none;
				text-align: center;
			}
		}
		&__button {
			padding: 3px;
			background: none;
			color: #222222;
			line-height: 0.5;
			border: 1px solid #222222;
		}
	}
}

.product-share {
	margin-bottom: 20px;

	.whatsapp {
		display: inline;
		position: relative;
		top: -2px;

		@media (max-width: 479px) {
			top: 6px;
		}

		a {
			font-family: Helvetica, Arial, sans-serif;
			font-weight: bold;
			background-color: #32B142;
			border-radius: 4px;
			color: #fff;
			font-size: 12px;
			padding: 2px 10px;
			position: relative;
			display: inline-block;

			i {
				padding-right: 2px;
			}

			&:hover,
			&:focus,
			&:active {
				background-color: #48c658;
				text-decoration: none;
			}
		}
	}
}

.product-tabs {
	margin-top: 20px;
	margin-bottom: 50px;

	.nav-tabs {
		border: none;
	}
	.nav>li>a {
		.rounded(0);
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.tab-content {
		padding: 15px 0;
		.clear--ex;
	}

	#tab-description {
		.tag {
			margin-top: 20px;
			margin-bottom: 20px;

			&__title {
				color: #858585;
				text-transform: uppercase;
			}
			&__name {
				color: #212121;
				text-transform: uppercase;
			}
		}
	}
}


/*Deal Countdown*/

.product-deal-countdown {
	background: rgba(255, 255, 255, .85);
	padding: 25px 35px 25px 31px;
	position: absolute;
	left: calc(~'50% - 135px');
	bottom: 0;
	letter-spacing: 0;
	width: 100%;
	.countdown-row {
		.countdown-section {
			display: inline-block;
			text-align: center;
			margin-right: 3px;
			font-size: 12px;
			span {
				display: block;
				margin-bottom: 4px;
			}
		}
	}
	.countdown {
		&-amount {
			background-color: #ee6780;
			width: 48px;
			height: 48px;
			line-height: 48px;
			.rounded(50%);
		}
		&-period {
			color: #ee6780;
			margin-top: 10px;
		}
	}
}


/***************768px****************/

@media @sm {}


/***************1024px****************/

@media @md {
	.product-layout {
		&:hover {
			//hover effect
			.product-thumb__secondary {
				.translate(0,
				0);
			}
			.product-detail-button {
				&--quick-view {
					.scale(1);
				}
			}
		}
		.product-thumb__secondary {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 9999;
				margin: 10px;
				background: rgba(255, 255, 255, .8);
			}
			.absolute-center;
			.transition(0.4s);
			.translate(-100%,
			0);
		}
	}
	//product-list
	.product-list {
		.product {
			&-wrapper {
				text-align: left;
				padding: 15px;
				.clearfix;
				.transition();
				&:hover {
					background-color: #EEEEEE;
				}
			}
			&-thumb {
				float: left;
				margin-right: 20px;
				position: relative;
				overflow: hidden;
				.product-detail {
					display: none;
				}
			}
			&-name {
				display: inline-block;
				width: 60%;
				font-size: 24px;
			}
			&-sale {
				bottom: 10px;
				right: 10px;
			}
			&-detail__group-buttons >button {
				margin-right: 5px;
			}
			&-detail-button {
				margin: 0 10px;
				&--cart {
					width: auto;
					text-transform: capitalize;
					span {
						position: relative;
						text-transform: uppercase;
						letter-spacing: 1px;
					}
				}
			}
			&-description {
				display: block !important;
				font-weight: 300;
				visibility: visible !important;
				margin-bottom: 20px;
			}
		}
	}
	//product-grid
	.product-grid {
		.product {
			&-name {
				a {
					padding: 0 !important;
				}
			}
			&-thumb {
				&__big-image {
					position: relative;
				}
			}
			&-description {
				display: none;
			}
			&-detail {
				.transition();
			}
		}
	}
	.product-related {
		[class*="col-"] {
			width: 100%;
		}
		.product-layout {
			text-align: center !important;
		}
	}
}


/***************1200px****************/

@media @lg {}


/***************skin****************/

.product-rating {
	color: #202020;
}

//product tabs
.product-tabs {
	.nav>li>a {
		background-color: #fff;
		color: #444;
		border: 1px solid #000;
		text-transform: uppercase;
		font-size: 15px;
	}
	.nav-tabs>li.active>a,
	.nav>li>a:hover,
	.nav>li>a:focus {
		color: #fff;
		border: 1px solid #000;
	}
}

.product-detail-button--cart {
	background-color: #fff;
	border: 1px solid #000;
	cursor: pointer;
	padding-left: 35px;
	padding-right: 35px;

	& > i {
		display: inline-block;
		font-size: 14px;
		color: #000;
	}
	& > span {
		color: #000;
	}
	&:hover {
		background-color: #000;
		border: 1px solid #000;
		& > i {
			color: #fff;
		}
		& > span {
			color: #fff;
		}
	}
	&:focus {
		border: 1px solid #000;
		background-color: #000;
		& > i {
			display: inline-block;
			font-size: 14px;
			color: #fff;
		}
		& > span {
			color: #fff;
		}
	}
}

.product-detail-button--wishlist,
.product-detail-button--compare {
  @media (max-width: 479px) {
    margin-top: 5px;
  }

	background-color: #ffffff;
	& > i {
		color: #25282c;
	}
	&:hover {
		background-color: #000;
		border: 1px solid #000;
		& > i {
			color: #fff;
		}
	}
	&:focus {
		background-color: #ffffff;
		border: 1px solid #fff;
		& > i {
			color: #25282c;
		}
	}
}

#product .radio {
	display: inline-block;

	label {
		position: relative;
		left: -5px;
		background-color: #fff;
		padding: 5px;
		min-width: 42px;
		min-height: 42px;
		text-align: center;

		img.img-thumbnail {
			border-radius: 50%;
			width: 23px;
			padding: 1px;
			top: 4px;
			position: relative;
			left: 0;
		}

		input[type="radio"] {
			position: absolute;
			left: 45px;
			z-index: -9999;
			top: 4px;

			&:checked ~ img.img-thumbnail {
				border-color: #000;
				width: 30px;
				top: 0;
				position: relative;
				left: 0;
				padding: 2px;
			}
		}
	}

	&.radio-text {
		label {
			min-width: 30px;
			min-height: 30px;
			margin-left: 5px;
			margin-right: 5px;
			font-size: 16px;
			padding: 0;

			input[type="radio"] {
				left: 32px;

				&:checked ~ span {
					background-color: #E7E7E7;
				}
			}

			span {
				min-width: 34px;
				min-height: 30px;
				background-color: #fff;
				border: 1px solid #a2a2a2;
				border-radius: 5px;
				padding: 5px;
				display: inline-block;
				-webkit-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
			}
		}
	}
}

.wishlist-product {
	width: 100%;
    position: relative;
    text-align: left;
		text-transform: inherit;
		background: transparent;

		@media (max-width: 480px) {
			text-align: center;
		}
}

.product-add-to-cart {
	background-color: #94c92c;

	span {
		color: #000;
	}

	&:hover {
		color: #000;
		background-color: #fff;

		span {
			color: #000;
		}
	}
}

.product-size-info {
	font-size: 18px;
	display: block;
	margin-top: 10px;
	font-weight: 300;

	img {
		margin-right: 10px;
	}
}

#tab-description {
	.description-product {
		font-size: 18px;
	}
}

.category-title {
	height: 20vh;
	background-color: #B8DEE9;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 3.5em;
	text-indent: 3.5em;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 30px;

	@media (max-width: 991px) {
		margin-top: -38px;
	}
	@media (max-width: 768px) {
		font-size: 90%;
		letter-spacing: 1em;
		text-indent: 1em;
	}

	@media (max-width: 480px) {
		font-size: 80%;
		letter-spacing: .5em;
		text-indent: .5em;
	}

	&--white {
		color: #ffffff;
		text-align: center;
	}

	h2 {
		font-size: 40px;
		font-weight: 300;
		margin-bottom: 0;

		@media (max-width: 480px) {
			font-size: 30px;
		}
	}
}

.categories-filter {
	label {
    overflow: hidden;
    position: relative;
		display: block;

		&::before {
			content:"\f0d7";
			font-family: FontAwesome;
			font-size: 14px;
			color: #000;
			padding: 7px 0px;
			position: absolute;
			pointer-events: none;
			box-sizing: border-box;
		}
	}

	select {
		border: 0;
		font-size: 10px;
		text-transform: uppercase;
		box-shadow: none;
		border-bottom: 1px solid #eeeeee;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-align-last: center;
		-moz-text-align-last: center;
		text-align: center;
		&:focus {
			border-bottom: 1px solid #eeeeee;
		}
	}
}
