@import (reference) "_elements";

/*--------------------------------------------------------------
Quickview block
--------------------------------------------------------------*/

.quickview {
	overflow-y: hidden;
	body {
		padding: 30px;
		background: #fff;
	}
	.product-rating {
		font-size: 15px;
	}
	.product-description {
		margin-bottom: 20px;
	}
	.product-detail-button {
		text-transform: uppercase;
		font-weight: 300;
		&__detail {
			width: auto;
			padding: 0 20px;
			background-color: #fff;
			margin-left: 10px;
			&:hover {
				background-color: #222;
				border-color: #222;
				a {
					color: #fff;
				}
			}
			a {
				color: #222;
			}
		}
	}
}