.select-primary {
	width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 0;
    border: none;
    border-radius: 0;
    margin: 0;
    outline: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    box-shadow: none;
	color: #727a7d;

	&:focus {
		border-color: #eee;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.select-secondary {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #dadada;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-size: 15px;
    font-weight: 300;
    height: 50px;
    outline: none;
    width: 100%;
    background-color: inherit;
    text-align: center;
    text-align-last: center;
    padding: 15px 0px 3px 0px;

    &:focus {
        border-color: #727a7d;
        color: #465055;
    }

    &:valid {
        &~ label {
            font-size: 12px;
            color: #7b7b7b;
            top: 15px;
            transform-origin: top left;
            -ms-transform-origin: top left;
            -webkit-transform-origin: top left;
            transform: translate3d(0px, -12px, 0);
            -ms-transform: translate3d(0px, -12px, 0);
            -webkit-transform: translate3d(0px, -12px, 0);
        }
    }

    &~ label {
        display: block;
        color: #000000;
        top: 15px;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 0;
        pointer-events: none;
        position: absolute;
        text-transform: uppercase;
        transition: 0.2s ease all;
        width: 100%;
        opacity: 0.7;
        left: 0;
        padding: 0;
    }
}