@import (reference) "_elements";

/*--------------------------------------------------------------
Sidebar Block
--------------------------------------------------------------*/

#column-left,
#column-right {
	.product-grid {
		width: 100%;
		margin-bottom: 25px;
	}
	.product {
		&-thumb {
			display: inline-block;
			float: right;
		}
		&-detail,
		&-sale {
			display: none;
		}
		&-name,
		&-rating,
		&-price {
			width: 70%;
			text-align: left;
			padding-bottom: 10px;
			border-bottom: 1px solid #EEEEEE;
		}
	}
	.box-heading {
		text-align: left;
	}
}

//768px
@media @sm {}

//1024px
@media @md {}

//1200px
@media @lg {}