@import (reference) "_elements";

/*--------------------------------------------------------------
Topbar Block
--------------------------------------------------------------*/

.topbar {
	background-attachment: fixed;
	z-index: 9;
	padding: 8px 0 8px 0;
	position: fixed;
    width: 100%;
	top: 0;
	background-color: #000;
	opacity: 0.95;
	height: 40px;

	.container {
		max-width: 1350px;
		position: relative;
	}

	@media (max-width: 991px) {
		display: none;
	}

	text-align: center;
	[class*='col-'] {
		vertical-align: middle;
		font-size: @font-small;
		text-transform: uppercase;
	}
	[class^="pe-7s-"],
	[class*=" pe-7s-"] {
		font-size: @font-normal + 10;
		vertical-align: middle;
	}
	a,
	.btn-link {
		text-align: left;
		font-size: @font-small;
	}
	.dropdown-toggle {
		padding: 0;
		&:hover {
			text-decoration: underline;
		}
	}
	&__left {
		text-align: center;
		@media @md {
			text-align: left;
		}
		@media (max-width: 991px) {
			margin-bottom: 0px;
		}
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__right {
		text-align: center;
		@media @md {
			text-align: right;
		}
		@media (max-width: 991px) {
			display: none;
		}
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__currency,
	&__language {
		.btn {
			background: none;
			&:hover {
				background: none;
			}
		}
	}
	&__currency {
		display: inline-block;
		position: relative;
	}
	&__language {
		display: inline-block;
	}
}


/***************768px****************/

@media @sm {}


/***************1024px****************/

@media @md {}


/***************1200px****************/

@media @lg {}


/***************skin****************/

.topbar--1 {
	.btn-link,
	a {
		text-transform: capitalize;
		font-size: 16px;
		font-weight: 600;
	}
	.topbar__right {
		.list-inline {
			li {
				position: relative;
			}
			a {
				&:before {
					background: #212121;
				}
			}
		}
	}
}

.topbar a,
.topbar li>a,
.topbar .btn {
	color: #000;
}

.topbar span {
	color: #888888;
}

.topbar {
	.top-whatsapp {
		position: absolute; 
		left: 23px;

		img {
			width: 23px;
		}

		span {
			text-transform: uppercase;
			color: #fff;
			font-size: 13px;
			position: relative;
			margin-left: 5px;
		}
	}

	.bag {
		position: absolute;
		z-index: 1;
		top: -8px;
		right: 34px;
		display: block;

		.icon-bag {
			width: 19px;
			background-image: url(/image/catalog/config/cart-livstyle-white.svg);
			background-size: 18px 44px;
			display: block;
			position: relative;
			height: 29px;
		}

		.total {
			font-size: 10px;
			position: absolute;
			z-index: 1;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			width: 16px;
			height: 16px;
			line-height: 17px;
			top: 5px;
			font-weight: 300;
			left: 10px;
			text-align: center;
			background-color: #fff;
			color: #000;
		}
	}

	.account {
		position: absolute;
		z-index: 1;
		top: -8px;
		right: 110px;
		display: block;

		.icon-account {
			width: 19px;
			background-image: url(/image/catalog/config/icon-account-livstyle.svg);
			background-size: 20px 44px;
			display: block;
			position: relative;
			height: 29px;
		}
	}

	.favorite {
		position: absolute;
		z-index: 1;
		top: -8px;
		right: 72px;
		display: block;

		.icon-favorite {
			display: block;
			position: relative;
			height: 28px;
			width: 19px;
			background-image: url(/image/catalog/config/icon-favorite-livstyle-white.svg);
			background-size: 20px 44px;
		}
	}

	.topbar-links {
		position: absolute;
		width: 925px;
		display: block;
		top: 19px;
		right: -220px;
	}
}