@import (reference) "_elements";

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 13px;
}